option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    memory_limit: 256M
    max_execution_time: 60
    composer_options: --no-dev --optimize-autoloader

  aws:elasticbeanstalk:application:environment:
    COMPOSER_HOME: /root

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /public/build: public/build
    /public/storage: public/storage
